<!DOCTYPE html>
<html>
<head>
    <title>BA SERVER STATUS</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>

var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope) {
  console.log("controll here");
    $scope.names = [ ];
    $scope.envs=["QA","DEV","TEST","STAGE"];
    $scope.getData=function(){
  console.log("url data--->",$scope.urlData)
  console.log("Get selected option----->",$scope.selectEnv)
  var obj = {url:$scope.urlData,env:$scope.selectEnv};
  
  console.log("ALl DAta",$scope.names);
  
    var request = new XMLHttpRequest();
    var d = new Date();
var currentTime = d.getMilliseconds();
    // var currentTime =n
request.onreadystatechange=function(){
  if (request.readyState==4){
    console.log("2")
      if(request.status==200){
        $scope.res="suceess";
        obj.status="success";
        // obj.image=<img src="circle-16.ico"/>;
        var isDuplicate = $scope.names.find((x)=>{$scope.urlData==x.url});
        console.log("IsDuplicated------------->",isDuplicate);
        $scope.names.push(obj);
      } else {
        // alert(request.status);
        $scope.res="fail";
        obj.status="fail";
        $scope.names.push(obj);
      }   
    // To get the response use request.responseText;
  }
}
console.log("1")
request.open("GET", $scope.urlData +"?time="+currentTime);
request.send(null);
  
// var status = onLoadCall($scope.urlData);
// console.log("Status----->",$scope.res);

}
    
});
// function onLoadCall(url){
//     var request = new XMLHttpRequest();
//     var d = new Date();
// var currentTime = d.getMilliseconds();
//     // var currentTime =n
// request.onreadystatechange=function(){
//   if (request.readyState==4){
//     console.log("2")
//       if(request.status==200){
//         alert("Success");
//       } else {
//         alert(request.status);
//       }   
//     // To get the response use request.responseText;
//   }
// }
// console.log("1")
// request.open("GET", url +"?time="+currentTime);
// request.send(null);
// }
function showTableData() {
        document.getElementById('info').innerHTML = "";
        var myTab = document.getElementById('tableData');
        var myData=[];

        // LOOP THROUGH EACH ROW OF THE TABLE AFTER HEADER.
        for (i = 1; i < myTab.rows.length; i++) {

            // GET THE CELLS COLLECTION OF THE CURRENT ROW.
            var objCells = myTab.rows.item(i).cells;

            // LOOP THROUGH EACH CELL OF THE CURENT ROW TO READ CELL VALUES.
            for (var j = 0; j < objCells.length; j++) {
                info.innerHTML = info.innerHTML + ' ' + objCells.item(j).innerHTML;
                var obj = objCells.item(j).innerHTML;
                myData.push(obj);
            }
            info.innerHTML = info.innerHTML + '<br />';     // ADD A BREAK (TAG).
        }
        console.log("Cell data--------->",myData);
    }

</script>



</head>
<!-- <body onload="javascript:onLoadCall('https://ba-stage-pp7.aviationzone.net/pinpoint')"> -->
  <body>
      <div ng-app="myApp" ng-controller="customersCtrl"> 
<div class="container">
  <div class="titlediv">Server Status Check</div>

   <h2 style= "text-shadow: 2px 2px blue;">ADD URL HERE!!</h2>
  <div class="section1">
      <form action="addname" method="post">
    <div id="inputUrl">
	<div class="input-group mb-3">
  <input type="text" name="url" ng-model="urlData" class="form-control" placeholder="Enter Server Url" aria-label="Recipient's username" aria-describedby="basic-addon2">
  
  </div>
</div>
      
    </div>
    <div  id="envDropdown">
       <div class="input-group mb-3">
          <div class="input-group-append">
                   <div class="dropdown">
                       <select class="custom-select" name="env"
                       ng-model="selectEnv"
                       ng-options="item for item in envs"
                       ng-init="selectEnv=envs[0]"
                       >

                       </select>
              </div>
          </div>
      </div>
	  <div class="addbutton">
  
       <button class="btn btn-success" type="button" ng-click="getData()">Add</button>
	   </div>
      </form>
  </div>
     

  <!-- <form action="addname" method="post"> -->
  
      <table class="table table-bordered table-hover " name="tableData" id="tableData">
        <thead class="thead-dark">
          <tr>
            <th>S No</th>
            <th>ENV</th>
            <th>URL</th>
            <th>Status</th>
          </tr>
		   </thead>
          <tbody>
        <tr  class="table-info" ng-repeat="x in names">
          <td>{{$index + 1}}</td>
          <td id="env">{{ x.env }}</td>
          <td id="url">{{ x.url }}</td>
          <!-- <td>{{ x.image }}</td> -->
          <td ><img ng-src="{{x.status == 'success' && 'green.ico' || 'red.ico'}}"/></td>
          <!-- <td><button ng-click="test()">Status</button></td> -->
        </tr>
		 </tbody>
      </table>
    
      <button class="btn btn-primary" onclick="showTableData()" >Save Data</button>
	  
    <!-- </form> -->
    <p id="info"></p>
      </div>
 
  
</div>

</body>
</html>